<% provide(:title, "カレンダー") %>
  <% @first_day = @date.beginning_of_month %>
  <% @last_day = @date.end_of_month %>
  <% today = Date.today %>
  <div><%= react_component("HelloWorld", { greeting:"" }) %></div> 
  <%=render partial: 'common/form' %>
  <table >
  <% @datedown=(@first_day-1).beginning_of_month %>
  <tr>
  <td>
  <% if @important %>
    <%= button_to "←", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@datedown,kubun:"1",important:true}} %>
  <% else %>
    <%= button_to"←", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@datedown,kubun:"1"}} %>
  <% end %>
  </td>
  <td><div style="padding : 10px ;"><strong><%= nengetu(@first_day) %>分スケジュール</strong></div></td>
  <% @dateup=(@last_day+1).beginning_of_month %>
  <td>
  <% if @important %>
    <%= button_to"→", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@dateup,kubun:"2",important:true}} %>
  <% else %>
    <%= button_to"→", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@dateup,kubun:"2"}} %>
  <% end %>
  </td>
  </tr></table>
  <table class="table1">  
<tr><th>月日</th><th>イベント名</th></tr> 
<% (@first_day..@last_day).each do |day| %>
<% if day==today %>
  <tr style="background: #D7EEFF;">
<% else %>
  <tr>
<% end %>
  <td style="width:100px;">
  <% if day.wday==0  or holiday(day) %>
    <div style="color: rgb(255,0,0);" >
  <% elsif day.wday==6 %>
    <div style="color: blue;" >
  <% else %>
    <div>
  <% end %>
  <% if day.day ==1 %>
    <% idday = convert_day(day) %>
  <% else %>
    <% idday = convert_day(day+1) %>
  <% end  %>
  <div id=<%= idday %>><%=monthday(day) %>(<%=weekdate(day) %>)
    <%= link_to '+', controller: "todos", action: "new", gday:day,section:1  %>
  </div>
  </td>
<td style="text-align: left;">
  <% dayevent=@events.where(term:day).order(:starttime) %>
  <% dayevent.each do |dayev| %>
    <% times=dayev.starttime %>
    <% if times.present? %>
        <%=times.strftime("%H:%M") %>-
    <% end %>
    <% if dayev.body.present? %>
      🔗
    <% end %>
    <% title =mojiseigen(dayev.title,18) %>
    <% if dayev.finished %>
      <%=link_to title,"/todos/#{dayev.id}" , {class: "font-silver"}%>
    <% else %>
      <%=link_to title,"/todos/#{dayev.id}" %>
    <% end %>
    <br>
  <% end %></td></tr>
<% end %>
</table>
<table>
  <% @datedown=(@first_day-1).beginning_of_month %>
  <tr>
  <td>
  <% if @important %>
    <%= button_to "←", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@datedown,kubun:"1",important:true}} %>
  <% else %>
    <%= button_to"←", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@datedown,kubun:"1"}} %>
  <% end %>
  </td>
  <td><div style="padding : 10px ;"><strong><%= nengetu(@first_day) %>分スケジュール</strong></div></td>
  <% @dateup=(@last_day+1).beginning_of_month %>
  <td>
  <% if @important %>
    <%= button_to"→", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@dateup,kubun:"2",important:true}} %>
  <% else %>
    <%= button_to"→", {controller: 'schedules', action: 'index'}, {method: :get, params: {lday:@dateup,kubun:"2"}} %>
  <% end %>
  </td>
</table>
<%=render partial: 'common/form' %>
