<h3>分類：<%= @category_title %></h3>

<% @index_details.each do |form| %>
    <table>
    <tr><td width="120" valign="top">
■名　称　：</td><td><%= form.title %></td></tr>
<tr><td valign="top">
■期　限　：</td>
<td>
<%= dateweekday(form.term) %>(<%=weekdate(form.term) %>)
<% if form.starttime.present? %>
    <% times=form.starttime %>
    <%= times.strftime("%H:%M") %>
<% end %><br>
</td></tr>
<tr><td>
■完了日　：</td><td>
<% if form.finishday.present? %>
  <%= dateweekday(form.finishday) %>(<%=weekdate(form.finishday) %>)
<% else %>
未完了
<% end %>
</td></tr>
<tr><td>
<% kei=Account.where(todo_id:form.id).sum(:amount) %>
■金　額　：</td><td><%= kei.to_s(:delimited, delimiter: ',') %></td></tr>
<tr><td  colspan="2" width="610">
■詳　細<br><%=simple_format(form.body) %>
</td></tr>
</table>
<div style="display:inline-flex">
  <div class="form-group">
  <%= link_to "編集","/todos/#{form.id}/edit", {class: "btn btn-primary button2"} %>　
  </div>
  <div class="form-group">
    <% if form.finishday.blank? %>
      <%= button_to "完了登録", todos_finished_path, { method: :get, params: {id: form.id,baction:1},class: "btn btn-primary button2" } %>
    <% else %>
      <%= button_to "完了取消", todos_finished_path, { method: :get, params: {id: form.id,baction:2},class: "btn btn-primary button2" } %>
    <% end %>
  </div>
</div><br />

<hr class="line">
      
    <% end %>
<p><%= link_to("一覧に戻る",session[:url]) if session[:url]%></p>
<% session[:url]=request.url %>


  