<% weather = @weather.re_info %>
<% if cookies[:udemy_time_check] %>
  <b><div font-size: 25px;"><%=link_to "Udemyがバーゲン中のようです。ご確認下さい！","https://www.udemy.com/" %></div></b>
<% end %>
<% if weather %> 
<%= link_to  @placename,edit_user_path(@current_user.id) %>の<%= link_to "天気予報","https://openweathermap.org/" %>
 <table>
  <tr>
  <% weather.each do | datehour,word,icon,get_info,temp | %>
    <td valign="top" >
      <div style="font-size: 11px; text-align: center;">
        <%= datehour %><br />
        <% if get_info %>
          <%#= image_tag "/gazou/#{icon}",:size => '50x50'%>
          <%= image_tag icon,:size => '50x50'%><br />
          <%=word %><br />
          <%=temp %>℃
        <% else %>
          <%= word %>
        <% end %>
      </div>
    </td>
  <% end %>
    </tr>
  </table>
<% else %>
  <%= @placename %>の天気予報の情報取得に失敗しました
<% end %>